body {
  .calc-block {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 400px));
    gap: 10px;

    @media screen and (max-width: 700px) {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }

  .price-slider {
    display: flex;
    flex-direction: column;
    gap: clamp(8px, calc(-1.3333px + 2.3333vw), 15px);
  }

  .price-slider__title {
    text-align: left;
  }

  .price-slider-output {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    text-align: left;
    font-weight: 700;
  }

  .price-slider-values {
    display: flex;
    justify-content: space-between;
  }

  input[type=range].styled-slider {
    // height: 35.2px;
    -webkit-appearance: none;
  }

  input[type=range].styled-slider {
    -webkit-appearance: none;
  }

  /*progress support*/
  input[type=range].styled-slider.slider-progress {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 13px + var(--ratio) * (100% - 13px));
  }

  input[type=range].styled-slider:focus {
    outline: none;
  }

  /*webkit*/
  input[type=range].styled-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #D6452C;
    border: none;
    box-shadow: none;
    outline: 2px solid #fefefe;
    margin-top: calc(2px * 0.5 - 13px * 0.5);
  }

  input[type=range].styled-slider::-webkit-slider-runnable-track {
    height: 2px;
    border: none;
    border-radius: 0;
    background: #efefef;
    box-shadow: none;
  }

  input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
    background: linear-gradient(#D6452C, #D6452C) 0/var(--sx) 100% no-repeat, #efefef;
  }

  /*mozilla*/
  input[type=range].styled-slider::-moz-range-thumb {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #D6452C;
    border: none;
    box-shadow: none;
  }

  input[type=range].styled-slider::-moz-range-track {
    height: 2px;
    border: none;
    border-radius: 0;
    background: #efefef;
    box-shadow: none;
  }

  input[type=range].styled-slider.slider-progress::-moz-range-track {
    background: linear-gradient(#D6452C, #D6452C) 0/var(--sx) 100% no-repeat, #efefef;
  }

  /*ms*/
  input[type=range].styled-slider::-ms-fill-upper {
    background: transparent;
    border-color: transparent;
  }

  input[type=range].styled-slider::-ms-fill-lower {
    background: transparent;
    border-color: transparent;
  }

  input[type=range].styled-slider::-ms-thumb {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #D6452C;
    border: none;
    box-shadow: none;
    margin-top: 0;
    box-sizing: border-box;
  }

  input[type=range].styled-slider::-ms-track {
    height: 2px;
    border-radius: 0;
    background: #efefef;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
  }

  input[type=range].styled-slider.slider-progress::-ms-fill-lower {
    height: 2px;
    border-radius: 0px 0 0 0px;
    margin: -undefined 0 -undefined -undefined;
    background: #D6452C;
    border: none;
    border-right-width: 0;
  }

  .calc-results-block {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 2fr;
    border-top: 1px solid #c5c3c3;

    .results-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: clamp(10px, calc(-16.7826px + 3.4783vw), 50px);

      &-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        max-width: 460px;

        &__title {
          font-size: clamp(12px, calc(8.4186px + 0.4651vw), 14px);
          line-height: 18px;
          text-align: left;
        }

        &__value {
          font-size: clamp(16px, calc(12.4186px + 0.4651vw), 18px);
          line-height: 23px;
          text-align: center;
          font-weight: 700;

          // span {
          // }
          &.monthly-payment {
            color: #d6452c;
          }
        }
      }
    }

    &-first {
      padding: clamp(10px, calc(-43.7209px + 6.9767vw), 40px);
      padding-left: 0;
      // border: 1px solid #ed5555;
    }

    &-second {
      padding: clamp(10px, calc(-43.7209px + 6.9767vw), 40px);
      padding-right: 0;
      // border: 1px solid #f25a5a;
      border-left: 1px solid #c5c3c3;

      .results-block-item:first-child {}

      .results-block-item:last-child {}

      &.results-block {
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-content: flex-start;
        gap: clamp(10px, calc(-16.7826px + 3.4783vw), 50px);
      }
    }


    @media screen and (max-width:768px) {
      grid-template-columns: 1fr;
      justify-items: start;

      &-second {
        padding: 0;
        padding-top: clamp(10px, calc(-43.7209px + 6.9767vw), 40px);
        border-left: 0;
        border-top: 1px solid #c5c3c3;

        &.results-block {
          grid-template-columns: 0.8fr 1.2fr;
        }
      }
    }

    @media screen and (max-width:450px) {
      &-second {
        &.results-block {
          grid-template-columns: 1fr;
        }

        .results-block-item {
          width: 100%;
          flex-direction: row;
          align-items: end;
        }
      }
    }
  }
}